.field {
    width: 1440px;
  }
  .field .staticField {
    width: 1240px;
    height: 250px;
  }
  .field .playerField {
    width: 1240px;
    /*height: 250px;*/
    border-bottom: solid 1px #000;
    border-left: solid 100px #78B159;
    border-right: solid 100px #257CFE;
  }
  .field .fieldSplitLine {
    width: 1440px;
    height: 6px;
    background-color: #000;
    margin: 125px 0px 125px 0px;
  }
  .field .enemyField {
    width: 1240px;
    /*height: 250px;*/
    border-top: solid 1px #000;
    border-left: solid 100px #78B159;
    border-right: solid 100px #257CFE;
  }
  .card {
    height: 200;
    width: 130;
    margin: 13x;
  }