<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PowerUp</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="assets/js/md5.min.js"></script>
    <script src="assets/js/character.js"></script>
    <script src="assets/js/power.js"></script>
    <link href="assets/powerup.css" rel="stylesheet">
</head>
<body>
    <section id="powerup">
        <div class="field">
            <ul class="playerField">
                <li v-for="eachCharacter in p1Characters">
                    <character :char="eachCharacter" @click.native="playMove(eachCharacter.id)"></character>
                </li>
            </ul>
            <div class="fieldSplitLine"></div>
            <ul class="enemyField">
                <li v-for="eachCharacter in p2Characters">
                    <character :char="eachCharacter" @click.native="console.log(eachCharacter.id)"></character>
                </li>
            </ul>
        </div>
    </section>
    <script src="assets/js/powerup.js"></script>
</body>
</html>


