<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PowerUp</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="assets/js/md5.min.js"></script>
    <script src="assets/js/character.js"></script>
    <script src="assets/js/power.js"></script>
    <link href="assets/powerup.css" rel="stylesheet">
    <link href="assets/field.css" rel="stylesheet">
    <link href="assets/card.css" rel="stylesheet">
</head>
<body>
    <section id="powerup">  
        <div class="staticField" v-if="setup">
            <div class="enemyField">
                <div class="enemyHealth">
                    <div class="enemyCrtHealth"></div>
                </div>
                <div class="intro">
                    <h1>Welcome to an all-out</br>Marvel brawl!</h1>
                    <p>Use your type advantages and</br>raw power to eliminate your</br>opposition. Be the last one</br>standing and claim victory!</p>
                </div>
                <div class="intro">
                    <h1>Getting Started</h1>
                    <p>Press the <strong>Draw Cards</strong> button</br>to generate two random decks.</br>Player 1's cards will populate in</br>the bottom pane and Player 2's</br>will populate on top.</p>
                </div>
                <div class="enemyMana">
                    <div class="enemyCrtMana"></div>
                </div>
            </div>
                
            <div class="fieldLine">
                <div class="battleTokenArea">
                    <button class="battleTokenSlot" v-on:click="loadChars()">
                        <img class="battleToken" src="assets/images/cards.png">
                    </button>
                </div>
            </div>

            <div class="playerField">
                <div class="playerHealth">
                    <div class="playerCrtHealth"></div>
                </div>
                <div class="intro">
                    <h1>Tips & Rules</h1>
                    <p>Click on a card in your deck to</br>choose a hero or villian, then</br>click an opposing card to</br>select a target. Lastly, press </br>the <strong>Action</strong> button to engage.</p>
                </div>
                <div class="intro">
                    <h1>Multiplayer and Types</h1>
                    <p>Play will alternate on each <strong>Action</strong> by</br>swapping the top and bottom panes.</br>Simply trade mouse control on each turn</br>to keep the action going!</p>
                    <p>Please review the <strong>Type Advantages</strong></br>in the following blurb.</p>
                </div>
                <div class="intro">
                    <img src="assets/images/chart.png">
                </div>
                <div class="playerMana">
                    <div class="playerCrtMana"></div>
                </div>
            </div>
        </div>
        <div class="staticField" v-else>
            <div class="enemyField">
                <div class="enemyHealth">
                    <div class="enemyCrtHealth"></div>
                </div>
                <ul class="playerCards">
                    <li class="card" v-for="eachCharacter in enemies" :key="eachCharacter.curHealth">
                        <character :char="eachCharacter" @click.native="setTarget(eachCharacter.id)"></character>
                    </li>
                </ul>
                <div class="enemyMana">
                    <div class="enemyCrtMana"></div>
                </div>
            </div>
                
            <div class="fieldLine">
                <div class="battleTokenArea">
                    <button class="battleTokenSlot" v-on:click="playMove()">
                        <img class="battleToken" src="assets/images/attack.png">
                    </button>
                </div>
            </div>

            <div class="playerField">
                <div class="playerHealth">
                    <div class="playerCrtHealth"></div>
                </div>
                    <ul class="playerCards">
                        <li class="card" v-for="eachCharacter in allies" :key="eachCharacter.curHealth">
                            <character :char="eachCharacter" @click.native="setActive(eachCharacter.id)"></character>
                        </li>
                    </ul>
                <div class="playerMana">
                    <div class="playerCrtMana"></div>
                </div>
            </div>
        </div>
    </section> 
    <script src="assets/js/powerup.js"></script>
</body>
</html>


