.field {
    width: 1440px;
  }
  .field .staticField {
    width: 1240px;
    height: 250px;
  }
  .field .playerField {
    width: 1240px;
    /*height: 250px;*/
    border-bottom: solid 1px #000;
    border-left: solid 100px #78B159;
    border-right: solid 100px #257CFE;
    list-style-type: none;
    display: inline-flex;
  }
  .field .fieldSplitLine {
    width: 1440px;
    height: 6px;
    background-color: #000;
    margin: 125px 0px 125px 0px;
    
  }
  .field .enemyField {
    width: 1240px;
    /*height: 250px;*/
    border-top: solid 1px #000;
    border-left: solid 100px #78B159;
    border-right: solid 100px #257CFE;
    list-style-type: none;
    display: inline-flex;
  }
  .card {
    height: 200;
    width: 130;
    margin: 13x;
    border-radius: 6px;
    background-color: #d9d9d9;
    display: inline;
  }
  .imgHolder {
    width: 200px;
    height: 150px;
    overflow: hidden;
    flex-shrink: 0;
    border-radius: 6px;
    margin: 5px;
  }
  .imgHolder img {
    object-fit: cover;
    width: 200px;
  }
  .nameTag {
    display:inline;
    width: 80px;
    height: 20px;
    margin: 5px;
  }
  .infoPane {
    width: 80px;
    height: 115px;
    margin: 5px;
  }
  .healthPane {
    width: 80px;
    height: 30px;
    margin: 5px;
  }